.comics{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    justify-content: center;
}
.nodata_sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    word-wrap: break-word;
}
.nodata_img{
    text-align: center;
    max-width: 15rem;
}

.loading{
    border: 1rem solid #b5b5b5;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border-top: 1rem solid #273c75;
    animation: loading 500ms linear infinite;
    margin-top: 5rem;
}

@keyframes loading{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(1turn);
    }
}